/* Override default styles */
.form-control {
    display: inline !important;
}

.input-wrapper {
    text-align: center;
}

footer:before {
    content: '' !important;
}

p {
    text-align: center;
}
table {
    margin: 0 auto;
    width: auto !important;
}
td {
    text-align: center;
    width: 40px;
    height: 40px;
}

/* Custom styles */
#matrix-size {
    width: 60px;
    text-align: right;
    padding-right: 5px;
}

#stop-spiral {
    display: none;
}